<div class="container my-5">
    <h1 class="text-center mb-4">Visión, Misión y Objetivos</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title mb-3">Visión</h2>
                    <p class="card-text">Ama a Dios, cambia tu historia y cumple tu propósito antes de morir
                    <h2 class="card-title mb-3">Misión</h2>
                    <p class="card-text">Formamos hijos espirituales a través de las relaciones, que conozcan y
                        experimenten a Dios, vivan y operen en su propósito y tengan como misión de vida transformar el
                        mundo con el poder del Espíritu Santo manifestado a través de sus dones, talentos y vocación.
                    </p>
                    <h2 class="card-title mb-3">Objetivos</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Formar un centro con visión apostólico profético que impacte la
                            comunidad.</li>
                        <li class="list-group-item">Crear un modelo de discipulado dinámico que habilite al creyente
                            para ser un ministro en su área de influencia.</li>
                        <li class="list-group-item">Crear grupos relacionales que transfieran vida a los nuevos
                            creyentes.</li>
                        <li class="list-group-item">Ser una comunidad donde la voz de Dios y la manifestación del
                            Espíritu Santo pueda experimentarse en cada una de nuestras actividades.</li>
                        <li class="list-group-item">Crear proyectos de Reino dentro y fuera de la iglesia que se vuelvan
                            puentes de reconciliación entre Dios y los hombres.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>