<footer class="footer bg-dark pt-5 pb-4 pb-lg-5" data-bs-theme="dark">
    <div class="container pt-lg-4">
        <div class="row gy-5 pb-5">
            <div class="col-lg-4">
                <div style="max-width: 26rem;">
                    <h3 class="mb-4">Newsletter</h3>
                    <p class="text-body mb-4 pb-2">Please, subscribe to our newsletter to keep updated about our news
                        and offers.</p>
                    <form class="needs-validation" novalidate="">
                        <div class="input-group">
                            <input type="email" id="subscr-email" class="form-control rounded-start ps-5"
                                placeholder="Your email" required="">
                            <i
                                class="bx bx-envelope fs-lg text-muted position-absolute top-50 start-0 translate-middle-y ms-3 zindex-5"></i>
                            <div class="invalid-tooltip position-absolute top-100 start-0">Please provide a valid email
                                address.</div>
                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-7 offset-lg-1">
                <div class="d-flex flex-lg-row flex-column justify-content-lg-between mt-n4 mx-n2">
                    <div class="mt-4 px-2">
                        <h3 class="mb-4 pb-lg-2">Our office</h3>
                        <ul class="nav flex-column mb-0">
                            <li class="mb-1">
                                <a href="#" class="nav-link align-items-start fw-normal px-0 py-1">
                                    <i class="bx bx-map fs-5 text-primary me-2"></i>
                                    3517 W. Gray St. Utica, <br> Pennsylvania 57867
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="tel:4065550120" class="nav-link align-items-start fw-normal px-0 py-1">
                                    <i class="bx bx-phone-call fs-5 text-primary me-2"></i>
                                    (406)&nbsp;555‑0120
                                </a>
                            </li>
                            <li>
                                <a href="mailto:email@example.com"
                                    class="nav-link align-items-start fw-normal px-0 py-1">
                                    <i class="bx bx-envelope fs-5 text-primary me-2"></i>
                                    emailexample.com
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="mt-4 px-2">
                        <h3 class="mb-4 pb-lg-2">Payments accepted</h3>
                        <div class="mt-n3 ms-n3">
                            <a href="#" class="mt-3 ms-3 d-inline-block">
                                <img src="assets/img/landing/product/payments/visa.png" width="96" alt="Visa">
                            </a>
                            <a href="#" class="mt-3 ms-3 d-inline-block">
                                <img src="assets/img/landing/product/payments/mastercard.png" width="96" alt="Visa">
                            </a>
                            <a href="#" class="mt-3 ms-3 d-inline-block">
                                <img src="assets/img/landing/product/payments/paypal.png" width="96" alt="Visa">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-4">
        <div
            class="d-flex flex-sm-row flex-column align-items-center justify-content-between text-center text-md-start pt-4 border-top border-light">
            <p class="nav d-block fs-sm mb-sm-0 mb-4">
                <span class="text-light opacity-50">© All rights reserved. Made by </span>
                <a class="nav-link d-inline-block p-0" href="https://createx.studio/" target="_blank"
                    rel="noopener">Createx Studio</a>
            </p>
            <div class="mt-n3 ms-n3">
                <a href="#" class="btn btn-icon btn-secondary btn-facebook rounded-circle mt-3 ms-3"
                    aria-label="Facebook">
                    <i class="bx bxl-facebook"></i>
                </a>
                <a href="#" class="btn btn-icon btn-secondary btn-instagram rounded-circle mt-3 ms-3"
                    aria-label="Instagram">
                    <i class="bx bxl-instagram"></i>
                </a>
                <a href="#" class="btn btn-icon btn-secondary btn-twitter rounded-circle mt-3 ms-3"
                    aria-label="Twitter">
                    <i class="bx bxl-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</footer>