<footer class="footer bg-dark pt-5 pb-4 pb-lg-5" data-bs-theme="dark">
    <div class="container pt-lg-4">
        <div class="row gy-5 pb-5">
            <div class="col-lg-4">
                <h1 class="text-light mb-4">Comunidad FARO</h1>
                <p class="fs-sm text-light opacity-70">Central</p>
                <p class="fs-sm text-light opacity-70">Coyoacan</p>
                <p class="fs-sm text-light opacity-70">Metepec</p>
                <p class="fs-sm text-light opacity-70">Acapulco</p>
                <h2 class="text-light mb-4">Bones School</h2>
                <p class="fs-sm text-light opacity-70">Learn Flow</p>
            </div>
            <div class="col-lg-7 offset-lg-1">
                <h2 class="text-light">Mapa del sitio</h2>
                <p class="fs-sm text-light opacity-70">Contacto de la Web</p>
                <p class="fs-sm text-light opacity-70">Terminos y condiciones</p>
                <p class="fs-sm text-light opacity-70">Aviso de privacidad</p>
            </div>
        </div>
    </div>
    <div class="container pt-4">
        <div
            class="d-flex flex-sm-row flex-column align-items-center justify-content-between text-center text-md-start pt-4 border-top border-light">
            <p class="nav d-block fs-sm mb-sm-0 mb-4">
                <span class="text-light opacity-50">© Derechos Reservados para Comunidad FARO, 2025</span>
            </p>
            <div class="mt-n3 ms-n3">
                <a href="https://www.facebook.com/comunidad.FARO" target="_blank" class="btn btn-icon btn-secondary btn-facebook rounded-circle mt-3 ms-3"
                    aria-label="Facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.instagram.com/comunidad_faro" target="_blank" class="btn btn-icon btn-secondary btn-instagram rounded-circle mt-3 ms-3"
                    aria-label="Instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.tiktok.com/@comunidad_faro" target="_blank" class="btn btn-icon btn-secondary btn-twitter rounded-circle mt-3 ms-3"
                    aria-label="TikTok">
                    <i class="bi bi-tiktok"></i>
                </a>
            </div>
        </div>
    </div>
</footer>