<header class="header navbar navbar-expand-lg position-absolute">
    <div class="container px-3">
        <a href="index.html" class="navbar-brand pe-3">
            <img src="assets/img/farologuito.png" width="47" alt="Silicon">
            <i class="bi bi-facebook"></i>
            Comunidad FARO
        </a>
        <div id="navbarNav" class="offcanvas offcanvas-end bg-dark">
            <div class="offcanvas-header border-bottom border-light">
                <h5 class="offcanvas-title text-white">Menu</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/learn-flow/main">Bones School</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/learn-flow/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/learn-flow/admin/usuarios">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/learn-flow/admin/alumnos">Alumnos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/learn-flow/admin/cursos">Cursos</a>
                    </li>
                </ul>
            </div>
            <div class="offcanvas-header border-top border-light">
                <a routerLink="/login" class="btn btn-primary w-100" rel="noopener">
                    <i class="bx bx-cart fs-4 lh-1 me-1"></i>
                    &nbsp;Login
                </a>
            </div>
        </div>
        <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a routerLink="/login" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" rel="noopener">
            <i class="bx bx-cart fs-5 lh-1 me-1"></i>
            &nbsp;Login
        </a>
    </div>
</header>