<div class="container mt-4">
  <div class="col-lg-12 bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Acapulco</h2>
      <p class="lead">Luis Donaldo Colosio 26B, Granjas del Marqués</p>
      <div class="text-center">
        <a href="https://www.facebook.com/profile.php?id=61573650433423" target="_blank"
          class="btn btn-icon btn-secondary btn-facebook rounded-circle mt-3 ms-3" aria-label="Facebook">
          <i class="bi bi-facebook"></i>
        </a>
      </div>
    </div>
    <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div>