<div class="container my-5">
    <h1 class="text-center mb-4">Congregation Central</h1>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Congregation Information</h5>
                    <p class="card-text flex-grow-1">
                        Access and update congregation details, including address, contact information, and meeting
                        times.
                    </p>
                    <a routerLink="/congre/info" class="btn btn-primary mt-auto">Go to Congregation Info</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title"></h5>
                </div>
            </div>
        </div>
    </div>
</div>