<section class="jarallax bg-dark pt-2 pt-lg-3 pb-lg-5" data-jarallax data-speed="0.5" data-bs-theme="dark">
    
    <div class="jarallax-img" [style]="'background-image: url('+Utils.getDriveImageUrl(curso?.imagen_url!)+'); width: 100%'"></div>

    <div class="container">

        <!-- Breadcrumb -->
        <nav class="py-4" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a routerLink="/learn-flow/main"><i class="bi bi-house"></i> Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/learn-flow/main"><i class="bi bi-journals"></i> Cursos</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page"><i class="bi bi-book-half"></i> {{curso?.titulo}}</li>
            </ol>
        </nav>

        <!-- Badges -->
        <div class="d-flex pt-3 pb-4 py-sm-4 pt-lg-5">
            <span class="badge bg-success fs-sm me-2">Nuevo</span>
            <a *ngFor="let tag of tags" 
            href="#" 
            class="badge bg-black text-nav fs-sm text-decoration-none"
            style="margin-right: 0.5em;">{{tag}}</a>
        </div>

        <!-- Title -->
        <h1 style="color: white;">{{curso?.titulo}}</h1>
        <p class="fs-lg text-light opacity-70">{{curso?.descripcion}}</p>

        <!-- Stats -->
        <div class="d-sm-flex py-3 py-md-4 py-xl-5">
            <div class="d-flex border-sm-end pe-sm-3 me-sm-3 mb-2 mb-sm-0">
                <div class="text-nowrap me-1">
                    <i class="bx bxs-star text-warning"></i>
                    <i class="bx bxs-star text-warning"></i>
                    <i class="bx bxs-star text-warning"></i>
                    <i class="bx bxs-star text-warning"></i>
                    <i class="bx bx-star text-muted opacity-75"></i>
                </div>
                <!--span class="text-light opacity-70">(1.2K reviews)</span-->
            </div>
            <div class="d-flex border-sm-end pe-sm-3 me-sm-3 mb-2 mb-sm-0">
                <i class="bx bx-like fs-xl text-light opacity-70 me-1"></i>
                <!--span class="text-light opacity-70">4.2K likes</span-->
            </div>
            <div class="d-flex">
                <i class="bx bx-time fs-xl text-light opacity-70 me-1"></i>
                <span class="text-light opacity-70">{{curso?.duracion_horas}} horas</span>
            </div>
        </div>

        <!-- Author -->
        <div class="d-flex align-items-center mt-xl-5 pt-2 pt-md-4 pt-lg-5">
            <img [src]="Utils.getDriveImageUrl(curso?.autor?.foto_url!)" class="rounded-circle" width="60" alt="Foto de Autor">
            <div class="ps-3">
                <div class="text-light opacity-80 mb-1">Created by</div>
                <h6>{{curso?.autor?.nombre + ' ' +curso?.autor?.apellido}}</h6>
            </div>
        </div>
    </div>
    <div class="jarallax-img"
        style="background-image: url(assets/img/portfolio/courses/single.jpg); object-fit: cover; object-position: 50% 50%;">
    </div>
</section>
<!-- Course description -->
<section class="container pt-5 mt-2 mt-lg-4 mt-xl-5">
    <div class="row">

        <!-- Sidebar (Course summary)-->
        <aside class="col-lg-4 col-md-5 offset-xl-1 order-md-2 mb-5">
            <div style="margin-top: -96px;"></div>
            <div class="position-sticky top-0 pt-5">
                <div class="pt-5 mt-md-3">
                    <div class="card shadow-sm p-sm-3">
                        <div class="card-body">
                            <h4 class="mb-4">Este curso incluye:</h4>
                            <ul class="list-unstyled pb-3">
                                <li class="d-flex align-items-center mb-2">
                                    <i class="bi bi-arrow-right-short"></i>
                                    Videos disponibles 24/7
                                </li>
                                <!--li class="d-flex align-items-center mb-2">
                                    <i class="bi bi-arrow-right-short"></i>
                                    18 articles
                                </li>
                                <li class="d-flex align-items-center mb-2">
                                    <i class="bi bi-arrow-right-short"></i>
                                    25 downloadable resources
                                </li>
                                <li class="d-flex align-items-center mb-2">
                                    <i class="bi bi-arrow-right-short"></i>
                                    Full lifetime access
                                </li>
                                <li class="d-flex align-items-center mb-2">
                                    <i class="bi bi-arrow-right-short"></i>
                                    Certificate of completion
                                </li-->
                            </ul>
                            <div class="h2 d-flex align-items-center mb-4">{{curso?.precio}}
                                <!--del class="text-muted fs-xl fw-normal ms-2">49.99</del--></div>
                            <a routerLink="/learn-flow/clases/{{curso?.clases![0].id}}" class="btn btn-primary btn-lg shadow-primary" (click)="tomarCurso(curso!);">Tomar el curso</a>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <!-- Content -->
        <div class="col-xl-7 col-lg-8 col-md-7 order-md-1 mb-5">
            <h2 class="h1 pb-md-2 pb-lg-3">Descripción</h2>
            <p class="pb-4 mb-3">{{curso?.descripcion}}</p>
            <!--h3 class="mb-4">¿Que aprenderás?</h3>
            <ul class="list-unstyled mb-5">
                <li class="d-flex align-items-center mb-2">
                    <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                    Sed lectus donec amet eu turpis interdum.
                </li>
                <li class="d-flex align-items-center mb-2">
                    <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                    Nulla at consectetur vitae dignissim porttitor.
                </li>
                <li class="d-flex align-items-center mb-2">
                    <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                    Phasellus id vitae dui aliquet mi.
                </li>
                <li class="d-flex align-items-center mb-2">
                    <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                    Integer cursus vitae, odio feugiat iaculis aliquet diam, et purus.
                </li>
                <li class="d-flex align-items-center mb-2">
                    <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                    In aenean dolor diam tortor orci eu.
                </li>
            </ul-->

            <h2 class="h1 pt-md-2 pt-lg-4 pt-xl-5 pb-md-3 pb-lg-4 mb-md-4">Clases</h2>
            <div class="steps steps-sm">
                <div class="step" *ngFor="let clase of curso?.clases; let i = index">
                    <div class="step-number">
                        <div class="step-number-inner">{{i+1}}</div>
                    </div>
                    <div class="step-body">
                        <h4 class="mb-2"><a routerLink="/learn-flow/clases/{{clase.id}}">{{clase.titulo}}</a></h4>
                        <p class="mb-0">{{clase.descripcion}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Course author -->
<section class="container py-lg-4 py-xl-5 mt-3 mb-5">
    <div class="row g-0 bg-dark bg-repeat-0 bg-position-center border rounded-3 overflow-hidden"
        [style]="'background-image: url(assets/img/portfolio/courses/author-pattern.svg);'">
        <div class="col-md-5 bg-repeat-0 bg-position-top-center bg-size-cover"
            [style]="'background-image: url('+Utils.getDriveImageUrl(curso?.instructor?.foto_url!)+'); min-height: 50px;'"></div>
        <div class="col-md-7 py-xl-5 px-4">
            <div class="py-5 mx-auto" style="max-width: 530px;">
                <div class="fs-xl text-light opacity-50 mb-2">Autor</div>
                <h2 class="h1 text-light mb-4">{{curso?.autor?.nombre + ' ' +curso?.autor?.apellido}}</h2>
                <p class="text-light opacity-70 pb-4">{{curso?.autor?.descripcion}}</p>
                <!--div class="d-flex flex-column flex-sm-row">
                    <a href="#" class="btn btn-danger me-sm-4 mb-3 mb-sm-0">
                        <i class="bx bxl-youtube fs-xl me-2"></i>
                        Otros cursos del autor
                    </a>
                </div-->
            </div>
        </div>
    </div>
</section>

<!-- Related courses (Carousel on narrow screens)- ->
<section class="bg-secondary pt-5 pb-4 pb-lg-5">
    <div class="container py-2 pt-lg-4 pb-lg-0">
        <h2 class="h1 text-center pb-4">More courses like this</h2>
        <div class="swiper mx-n2 swiper-initialized swiper-horizontal swiper-backface-hidden" data-swiper-options="{
            &quot;slidesPerView&quot;: 1,
            &quot;spaceBetween&quot;: 8,
            &quot;pagination&quot;: {
              &quot;el&quot;: &quot;.swiper-pagination&quot;,
              &quot;clickable&quot;: true
            },
            &quot;breakpoints&quot;: {
              &quot;560&quot;: {
                &quot;slidesPerView&quot;: 2
              },
              &quot;1000&quot;: {
                &quot;slidesPerView&quot;: 3
              }
            }
          }">
            <div class="swiper-wrapper" id="swiper-wrapper-f110e212d166673f5" aria-live="polite">

                <!- - Item -- >
                <div class="swiper-slide h-auto pb-3 swiper-slide-active" role="group" aria-label="1 / 3"
                    style="width: 451px; margin-right: 8px;">
                    <article class="card h-100 border-0 shadow-sm mx-2">
                        <div class="position-relative">
                            <a href="#" class="d-block position-absolute w-100 h-100 top-0 start-0"
                                aria-label="Course link"></a>
                            <a href="#"
                                class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-2 me-3 mt-3"
                                data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Save to Favorites"
                                data-bs-original-title="Save to Favorites">
                                <i class="bx bx-bookmark"></i>
                            </a>
                            <img src="assets/img/portfolio/courses/02.jpg" class="card-img-top" alt="Image">
                        </div>
                        <div class="card-body pb-3">
                            <h3 class="h5 mb-2">
                                <a href="#">HTML, CSS, JavaScript Web Developer</a>
                            </h3>
                            <p class="fs-sm mb-2">By Jenny Wilson &amp; Marvin McKinney</p>
                            <p class="fs-lg fw-semibold text-primary mb-0">$15.99</p>
                        </div>
                        <div class="card-footer d-flex align-items-center fs-sm text-muted py-4">
                            <div class="d-flex align-items-center me-4">
                                <i class="bx bx-time fs-xl me-1"></i>
                                160 hours
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="bx bx-like fs-xl me-1"></i>
                                92% (3.1K)
                            </div>
                        </div>
                    </article>
                </div>

                <!- - Item - ->
                <div class="swiper-slide h-auto pb-3 swiper-slide-next" role="group" aria-label="2 / 3"
                    style="width: 451px; margin-right: 8px;">
                    <article class="card h-100 border-0 shadow-sm mx-2">
                        <div class="position-relative">
                            <a href="#" class="d-block position-absolute w-100 h-100 top-0 start-0"
                                aria-label="Course link"></a>
                            <span
                                class="badge bg-danger position-absolute top-0 start-0 zindex-2 mt-3 ms-3">Sale!</span>
                            <a href="#"
                                class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-2 me-3 mt-3"
                                data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Save to Favorites"
                                data-bs-original-title="Save to Favorites">
                                <i class="bx bx-bookmark"></i>
                            </a>
                            <img src="assets/img/portfolio/courses/03.jpg" class="card-img-top" alt="Image">
                        </div>
                        <div class="card-body pb-3">
                            <h3 class="h5 mb-2">
                                <a href="#">HTML, CSS, JavaScript Web Developer</a>
                            </h3>
                            <p class="fs-sm mb-2">By Robert Fox</p>
                            <p class="text-muted mb-0"><span
                                    class="fs-lg fw-semibold text-danger me-2">$9.99</span><del>$44.99</del></p>
                        </div>
                        <div class="card-footer d-flex align-items-center fs-sm text-muted py-4">
                            <div class="d-flex align-items-center me-4">
                                <i class="bx bx-time fs-xl me-1"></i>
                                210 hours
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="bx bx-like fs-xl me-1"></i>
                                98% (2.7K)
                            </div>
                        </div>
                    </article>
                </div>

                <!- - Item - ->
                <div class="swiper-slide h-auto pb-3" role="group" aria-label="3 / 3"
                    style="width: 451px; margin-right: 8px;">
                    <article class="card h-100 border-0 shadow-sm mx-2">
                        <div class="position-relative">
                            <a href="#" class="d-block position-absolute w-100 h-100 top-0 start-0"
                                aria-label="Course link"></a>
                            <a href="#"
                                class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-2 me-3 mt-3"
                                data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Save to Favorites"
                                data-bs-original-title="Save to Favorites">
                                <i class="bx bx-bookmark"></i>
                            </a>
                            <img src="assets/img/portfolio/courses/09.jpg" class="card-img-top" alt="Image">
                        </div>
                        <div class="card-body pb-3">
                            <h3 class="h5 mb-2">
                                <a href="#">Learn JMETER from Scratch on Live Apps-Performance Testing</a>
                            </h3>
                            <p class="fs-sm mb-2">By Jenny Wilson</p>
                            <p class="fs-lg fw-semibold text-primary mb-0">$14.50</p>
                        </div>
                        <div class="card-footer d-flex align-items-center fs-sm text-muted py-4">
                            <div class="d-flex align-items-center me-4">
                                <i class="bx bx-time fs-xl me-1"></i>
                                120 hours
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="bx bx-like fs-xl me-1"></i>
                                92% (3.8K)
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <!- - Pagination (bullets) - ->
            <div
                class="swiper-pagination position-relative pt-2 pt-sm-3 mt-4 swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
                    aria-label="Go to slide 1" aria-current="true"></span><span class="swiper-pagination-bullet"
                    tabindex="0" role="button" aria-label="Go to slide 2"></span>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
    </div>
</section-->