<section class="position-relative h-100 pt-5 pb-4">
    <div class="container d-flex flex-wrap justify-content-center justify-content-xl-start h-100 pt-5">
        <div class="w-100 align-self-end pt-1 pt-md-4 pb-4" style="max-width: 526px;">
            <h1 class="text-center text-xl-start">Bienvenido de vuelta</h1>
            <p class="text-center text-xl-start pb-3 mb-3">¿No tienes una cuenta? <a routerLink="/registro">Regístrate
                    aquí</a></p>
            <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
                <div class="input-group mb-4">
                    <input type="email" id="email" class="form-control form-control-lg" formControlName="username"
                        [(ngModel)]="username" [ngClass]="{'is-invalid': form['username'].errors }" placeholder="Email">
                    <div *ngIf="form['username'].errors" class="invalid-feedback">
                        <div *ngIf="form['username'].errors">El correo es obligatorio</div>
                    </div>
                </div>
                <div class="input-group mb-4">
                    <input type="password" id="password" class="form-control form-control-lg" formControlName="password"
                        [(ngModel)]="password" [ngClass]="{'is-invalid': form['password'].errors }" placeholder="Contraseña">
                    <div *ngIf="form['username'].errors" class="invalid-feedback">
                        <div *ngIf="form['username'].errors">La contraseña es obligatoria</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary shadow-primary btn-lg w-100">Entrar</button>
            </form>
        </div>
    </div>
    <!-- Background -->
    <div class="position-absolute top-0 end-0 w-50 h-100 bg-position-center bg-repeat-0 bg-size-cover d-none d-xl-block"
        style="background-image: url(assets/img/account/signin-bg.jpg);"></div>
</section>