<section class="min-vh-100">
    <div class="container">
        <h1>Dashboard</h1>

        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                            data-bs-target="#cursos-asignados" type="button" role="tab" aria-controls="cursos-asignados"
                            aria-selected="true">Cursos asignados</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="cursos-asignados" role="tabpanel"
                        aria-labelledby="home-tab" tabindex="0">
                        <app-lista-cursos class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-3 gx-md-4 mt-n2 mt-sm-0" [cursos]="cursosAsignados"></app-lista-cursos>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>