<section
    class="min-vh-100 bg-dark bg-size-cover bg-repeat-0 bg-position-center position-relative overflow-hidden py-5 mb-5"
    style="background-image: url(assets/img/landing/product/hero/bg.jpg);" data-bs-theme="dark">
    <div class="container pt-lg-3">
        <div class="row flex-lg-nowrap">
            <div class="col-lg-7 col-xl-6 col-xxl-5 text-center text-lg-start pt-4 pt-md-5 mt-xxl-4">
                <p class="text-body lead pt-5 mt-sm-2 mt-lg-4 mt-xl-5">Ama a Dios, cambia tu historia y cumple tu
                    propósito antes de morir.</p>
                <h1 class="display-3 pb-md-2 mb-5">Comunidad FARO</h1>
                <div class="mt-n4 ms-lg-n4 ms-n3 pb-sm-3 pb-md-4">
                    <a href="https://www.youtube.com/watch?v=NJ3Z1hSOoMc"
                        class="btn btn-lg btn-primary mt-lg-4 mt-3 ms-lg-4 ms-3" data-bs-toggle="video"
                        data-lg-id="334ba4c9-e813-4f8f-a490-cf51c711cba6">
                        Watch video
                        <i class="bx bx-play ms-1 lead"></i>
                    </a>
                    <a href="#" class="btn btn-lg btn-light mt-lg-4 mt-3 ms-lg-4 ms-3">
                        Learn more
                        <i class="bx bx-right-arrow-alt ms-1 lead"></i>
                    </a>
                </div>
                <div class="swiper-slider mx-auto mt-5 pt-xl-5 pt-lg-2 pt-xl-4" style="max-width: 33rem;">
                    <div id="carouselExampleIndicators" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/img/landing/product/hero/slider/01.jpg" class="d-block w-100"
                                    alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/img/landing/product/hero/slider/02.jpg" class="d-block w-100"
                                    alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/img/landing/product/hero/slider/03.jpg" class="d-block w-100"
                                    alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true" style="color: white;"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Featured image -->
            <div class="d-none d-lg-block pt-5 mt-lg-4 mt-xl-5 ms-lg-n5 mx-xl-0">
                <img src="assets/img/landing/product/hero/image.png" class="d-block pt-xxl-4 mt-5" width="1058"
                    alt="Hero image">
            </div>
        </div>
    </div>
</section>
<!-- Text + Video -->
<section class="mb-5 pt-md-2 pt-lg-4 pt-xl-5">
    <div class="container mt-4 pt-2">
        <div class="row row-cols-md-2 row-cols-1 gy-4 mb-5">
            <div class="col">
                <h2 class="h1 mb-0">Bienvenido a <span class="text-primary">Comunidad FARO</span></h2>
            </div>
            <div class="col">
                <p class="mb-0 fs-lg">Formamos hijos espirituales a través de las relaciones, que conozcan y
                    experimenten a Dios, vivan y operen en su propósito y tengan como misión de vida transformar el
                    mundo con el poder del Espíritu Santo manifestado a través de sus dones, talentos y vocación.</p>
            </div>
        </div>
        <div class="position-relative rounded-3 overflow-hidden">
            <div
                class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center zindex-5">
                <a href="https://www.youtube.com/watch?v=aOwTUgqUfH8"
                    class="btn btn-video btn-icon btn-xl stretched-link bg-white" data-bs-toggle="video"
                    aria-label="Play video" data-lg-id="615f8873-bcea-4646-8895-1899b94257ff">
                    <i class="bx bx-play"></i>
                </a>
            </div>
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></span>
            <img src="assets/img/landing/product/video-cover.jpg" alt="Cover image">
        </div>
    </div>
</section>
<!-- Benefits -->
<section class="container mb-5 pt-md-2 pt-lg-4 pt-xl-5">
    <h2 class="h1 my-4 pt-2 text-center">Objetivos</h2>
    <div class="row pb-4">
        <div class="col-md-3 col-6 order-md-1 order-2">
            <div class="d-flex flex-column justify-content-between h-100 text-center">

                <!-- Item -->
                <div class="mt-md-5 mt-4">
                    <img src="assets/img/landing/product/benefits/battery.svg" alt="Icon" class="d-inline-block mb-4">
                    <h3 class="h4 mb-0 lh-1">
                        1. Formar un centro con visión apostólico profético que impacte la comunidad.
                    </h3>
                </div>

                <!-- Item -->
                <div class="mt-md-5 mt-4">
                    <img src="assets/img/landing/product/benefits/drone.svg" alt="Icon" class="d-inline-block mb-4">
                    <h3 class="h4 mb-0 lh-1">
                        2. Crear un modelo de discipulado dinámico que habilite al creyente para ser un ministro en su
                        área de influencia.
                    </h3>
                </div>

                <!-- Item -->
                <div class="mt-md-5 mt-4">

                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 order-md-2 order-1">
            <div class="d-flex flex-column justify-content-between h-100">

                <!-- Image -->
                <div class="mx-md-n5 mb-md-n5">
                    <img src="assets/img/landing/product/benefits/image.png" alt="Image">
                </div>

                <!-- Items row -->
                <div class="row row-cols-1 mt-md-6 mt-4 text-center">

                    <!-- Item -->
                    <div class="col">
                        <img src="assets/img/landing/product/benefits/led-light.svg" alt="Icon"
                            class="d-inline-block mb-4">
                        <h3 class="h4 mb-0 lh-1">
                            3. Crear grupos relacionales que transfieran vida a los nuevos creyentes.
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6 order-md-3 order-3">
            <div class="d-flex flex-column justify-content-between h-100 text-center">

                <!-- Item -->
                <div class="mt-md-5 mt-4">
                    <img src="assets/img/landing/product/benefits/zoom-in.svg" alt="Icon" class="d-inline-block mb-4">
                    <h3 class="h4 mb-0 lh-1">
                        5.- Crear proyectos de Reino dentro y fuera de la iglesia que se vuelvan puentes de
                        reconciliación entre Dios y los hombres.
                    </h3>
                </div>

                <!-- Item -->
                <div class="mt-md-5 mt-4">
                    <img src="assets/img/landing/product/benefits/computer-microprocessor.svg" alt="Icon"
                        class="d-inline-block mb-4">
                    <h3 class="h4 mb-0 lh-1">
                        4.- Ser una comunidad donde la voz de Dios y la manifestación del Espíritu Santo pueda
                        experimentarse en cada una de nuestras actividades.
                    </h3>
                </div>

                <!-- Item -->
                <div class="mt-md-5 mt-4">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Gallery (carousels) -->
<section class="container mb-5 pt-md-3 pt-lg-4 pt-xl-5">
    <h1 class="h1 pt-lg-2 pt-xl-3 mb-5 text-center">Declaración de fe de Casa FARO</h1>

    <p class="ps-0 h5">Nuestros valores como Iglesia no se sostienen solos, son parte de nuestra profunda alineación con
        la Biblia.</p>
    <p class="ps-0 h5">Cada uno de nuestros valores nos llevan al cumplimiento de un propósito, que el hombre tenga
        redención y todo lo creado sea restaurado.</p>

    <h2>Declaración</h2>
    <p class="ps-0 h5">Creemos que hay un solo Dios verdadero, que es rey eterno, creador y redentor de todo, que se
        revela en tres personas a la humanidad, Dios Padre, Dios Hijo y Dios Espíritu Santo, los tres se expresan de
        diferente forma pero siguen siendo uno, Dios.</p>

    <p class="ps-0 h5">Que la Biblia es su palabra, está inspirada por Él mismo, en la cual nos revela sus atributos, su
        carácter, su amor,
        justicia, guía, su obra redentora y de transformación para el ser humano y el mundo que lo rodea.</p>

    <p class="ps-0 h5">Que la biblia es el filtro que Dios le dio al creyente para interpretar el mundo en el que
        vivimos sin importar que</p>

    <p class="ps-0 h5">Que en ella existe todo lo que el hombre necesita para ser pleno, conocerle, darlo a conocer a
        otros y modificar la
        realidad de su entorno.</p>

    <p class="ps-0 h5">Que la biblia es el filtro que Dios le dio al creyente para interpretar el mundo en el que
        vivimos sin importar que
        año sea.</p>

    <p class="ps-0 h5">Que la humanidad fue creada a imagen de Dios para conocerle y representarle a pesar de que
        rechazamos de manera
        voluntaria su plan perfecto.</p>

    <p class="ps-0 h5">Que por esta razón, la enfermedad, la muerte, y el juicio entraron al mundo y ahora la creación y
        esferas sociales
        experimentan los efectos y consecuencias del pecado.</p>

    <p class="ps-0 h5">Que Jesús, el Hijo de Dios, fue concebido por el Espíritu Santo, nacido de María, que creció y
        manifestó el
        evangelio del Reino, hizo milagros, sano a los enfermos, resucitó a los muertos y escogió a sus discípulos para
        que
        fueran los precursores de la Iglesia, que fue crucificado por nuestros pecados, muerto y sepultado, resucitado
        al
        tercer día, ascendido al cielo y ahora está vivo sentado a la derecha de Dios Padre y en el corazón de quienes
        han
        creído por fe en su sacrificio.</p>

    <p class="ps-0 h5">Que somos salvos por la gracia de Dios, a través de la fe en la persona y la obra de Jesucristo.
    </p>

    <p class="ps-0 h5">Que el arrepentimiento de nuestros pecados y el bautismo en agua son señales de que hemos creído
        y recibido a Jesús
        como Señor y Salvador.</p>

    <p class="ps-0 h5">Que el Espíritu Santo trae convicción, regenera, justifica, santifica y nos adopta al entrar en
        el Reino de Dios
        como sus hijos y manifestar su voluntad en la tierra.</p>

    <p class="ps-0 h5">Que el creyente tiene como meta no solo ser salvo, sino también manifestar el Reino de Dios, la
        cultura del cielo en
        la tierra a través de sus dones, talento y vocación, habilitado para toda obra sobrenatural, de amor y justicia
        con
        el poder del Espíritu Santo.</p>

    <p class="ps-0 h5">Que la obra victoriosa y redentora de Cristo en la cruz provee libertad: del pecado, del enemigo,
        las falsas
        doctrinas, la enfermedad y de una vida sin propósito.</p>

    <p class="ps-0 h5">Que la Iglesia consta de todos aquellos que ponen su fe en Jesucristo.</p>

    <p class="ps-0 h5">Que todo creyente es un ministro en su área de influencia.</p>

    <p class="ps-0 h5">Que la Iglesia existe para seguir con el ministerio de Jesucristo y hacer avanzar Su Reino en la
        tierra, deshaciendo
        las obras del enemigo, predicando y viviendo conforme a los estándares de la palabra de Dios, discipulando las
        naciones, bautizándolas y enseñándolas a amar y a obedecer a Dios.</p>

    <p class="ps-0 h5">Que el gobierno de Dios siempre está en expansión a través de nosotros.</p>

    <p class="ps-0 h5">Que la Biblia y Dios no cambian, pero las formas y estructuras si cambian.</p>

    <p class="ps-0 h5">Que la iglesia no es un lugar, pero que es importante congregarnos.</p>

    <p class="ps-0 h5">Que tenemos una misión más grande que ganar almas y es transformar el mundo según el diseño
        original de Dios.</p>

    <p class="ps-0 h5">Que Jesús vuelve para reinar con Su esposa, nosotros, la Iglesia.</p>

    <p class="ps-0 h5">Que Él es en nosotros, por nosotros y en otros a través de nosotros.</p>

    <h2>Amen.</h2>
</section>

<!-- Specs -->
<section class="container pb-5 pt-md-2 pt-lg-4 pt-xl-5">
    <h2 class="h1 mb-5">Modelo de enseñanza</h2>
    <p>Creamos este modelo de enseñanza que te permitirá conocer a Dios de manera más profunda, formar tu carácter para
        responder de manera adecuada ante las situaciones de la vida, conocer el propósito de tu existencia, cumplirlo y
        experimentar tu llamado ministerial en tu área de influencia.</p>
    <div class="row pb-md-2 pb-lg-4 pb-xl-5 mb-xxl-2">
        <div class="col-lg-12 col-md-12">
            <div class="table-responsive border-top mb-0">
                <table class="table align-middle">
                    <tbody>
                        <tr>
                            <th scope="row" class="ps-0 h5">
                                Ama a Dios
                            </th>
                            <td class="pe-0">
                                <span class="d-inline-block my-4 py-1">
                                    No puedes amar a alguien que no conoces.
                                    Amar a Dios es el principio de la vida cristiana, pero la única manera de amar a
                                    Dios es conociéndolo, entre más lo conoces, más lo amas
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="ps-0 h5">
                                Cambia tu historia
                            </th>
                            <td class="pe-0">
                                <span class="d-inline-block my-4 py-1">
                                    Tu futuro empieza cuando dejas que Dios restaure tu pasado.
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="ps-0 h5">
                                Cumple tu propósito
                            </th>
                            <td class="pe-0">
                                <p>Fuimos diseñados para que nuestra historia sea parte de su historia</p>
                                <!--div class="d-inline-block my-4 py-1">
                                    <ul class="list-unstyled mb-0">
                                        <li>Forward Vision System</li>
                                        <li>Backward Vision System</li>
                                        <li>Downward Vision System</li>
                                    </ul>
                                </div-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12 offset-lg-1">
            <div class="row row-cols-4 row-cols-md-2">
                <div class="col">
                    <img src="assets/img/landing/product/specs/01.png" alt="Image">
                </div>
                <div class="col">
                    <img src="assets/img/landing/product/specs/02.png" alt="Image">
                </div>
                <div class="col">
                    <img src="assets/img/landing/product/specs/01.png" alt="Image">
                </div>
                <div class="col">
                    <img src="assets/img/landing/product/specs/02.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Colors -->
<section class="mb-5 py-5 bg-secondary">
    <div class="container my-xl-5 my-lg-4 pb-2 py-sm-3 py-md-4">
        <div class="row">
            <div class="col-xl-12 col-lg-12" style="margin-bottom: 1em;">
                <h2 class="h1 mb-4 pb-3">
                    Ubicaciones<br>
                </h2>
                <p class="mb-4">“ProDrone 2.0 changes the rules of the game in aerial photography. Now you can
                    capture more details from a safe distance, as well as implement different visual effects with
                    different focal lengths.”</p>
                <h5 class="mb-1">Wade Warren</h5>
                <span>ProDrone Inc. Co-Owner</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card card-hover border-0 shadow position-relative">
                    <img src="assets/img/landing/product/colors/01.png" alt="Skin image" class="card-img-top">
                    <div class="card-body mt-n5 mx-3 mb-3 pt-0 text-center">
                        <span>Patricio Sanz 1359, Del Valle, CDMX</span>
                        <h3 class="mt-2 mb-4">Central</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="https://www.facebook.com/comunidad.FARO"
                                    target="_blank"><i class="bi bi-facebook"></i> Comunidad F.A.R.O.</a></li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-hover border-0 shadow position-relative">
                    <img src="assets/img/landing/product/colors/01.png" alt="Skin image" class="card-img-top">
                    <div class="card-body mt-n5 mx-3 mb-3 pt-0 text-center">
                        <span>En algún lugar de Coyoacan, CDMX</span>
                        <h3 class="mt-2 mb-4">Coyoacán</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="https://www.facebook.com/comunidad.FARO"
                                    target="_blank"><i class="bi bi-facebook"></i> Comunidad F.A.R.O.</a></li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-hover border-0 shadow position-relative">
                    <img src="assets/img/landing/product/colors/01.png" alt="Skin image" class="card-img-top">
                    <div class="card-body mt-n5 mx-3 mb-3 pt-0 text-center">
                        <span>Av de las palmas #117, Metepec, Mexico</span>
                        <h3 class="mt-2 mb-4">Comunidad FARO Metepec</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="https://www.facebook.com/comunidad.FARO" target="_blank"><i class="bi bi-facebook"></i> Comunidad F.A.R.O.</a></li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-hover border-0 shadow position-relative">
                    <img src="assets/img/landing/product/colors/02.png" alt="Skin image" class="card-img-top">
                    <div class="card-body mt-n5 mx-3 mb-3 pt-0 text-center">
                        <span>Luis Donaldo Colosio 26 B, Granjas del Marquez</span>
                        <h3 class="mt-2 mb-4">Casa FARO Acapulco</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="https://www.facebook.com/comunidad.FARO" target="_blank"><i class="bi bi-facebook"></i> Comunidad F.A.R.O.</a></li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CTA -->
<section class="overflow-hidden pt-lg-5 pt-3 pt-sm-4">
    <div class="container position-relative">
        <div class="w-100 position-absolute top-0 start-50 translate-middle-x text-center px-3"
            style="max-width: 40rem;">
            <h3 class="display-5 mb-4 pb-2">
                Don't miss anything with <span class="text-primary">ProDrone 2.0</span>
            </h3>
            <a href="#" class="btn btn-lg btn-primary">Buy now</a>
        </div>
    </div>
    <div class="pt-5 pt-sm-4 pt-md-0 mt-lg-n5 me-n4 me-sm-n5">
        <img src="assets/img/landing/product/cta.png" width="1296" alt="Image" class="d-block mx-auto">
    </div>
</section>