<section
    class="min-vh-100 bg-dark bg-size-cover bg-repeat-0 bg-position-center position-relative overflow-hidden py-5 mb-5"
    style="background-image: url(assets/img/landing/product/hero/bg.jpg);" data-bs-theme="dark">
    <div class="container pt-lg-3">
        <div class="row flex-lg-nowrap">
            <div class="col-lg-7 col-xl-6 col-xxl-5 text-center text-lg-start pt-4 pt-md-5 mt-xxl-4">
                <p class="text-body lead pt-5 mt-sm-2 mt-lg-4 mt-xl-5">Make your moments fly with</p>
                <h1 class="display-3 pb-md-2 mb-5">ProDrone 2.0</h1>
                <div class="mt-n4 ms-lg-n4 ms-n3 pb-sm-3 pb-md-4">
                    <a href="https://www.youtube.com/watch?v=NJ3Z1hSOoMc"
                        class="btn btn-lg btn-primary mt-lg-4 mt-3 ms-lg-4 ms-3" data-bs-toggle="video"
                        data-lg-id="334ba4c9-e813-4f8f-a490-cf51c711cba6">
                        Watch video
                        <i class="bx bx-play ms-1 lead"></i>
                    </a>
                    <a href="#" class="btn btn-lg btn-light mt-lg-4 mt-3 ms-lg-4 ms-3">
                        Learn more
                        <i class="bx bx-right-arrow-alt ms-1 lead"></i>
                    </a>
                </div>
                <div class="swiper-slider mx-auto mt-5 pt-xl-5 pt-lg-2 pt-xl-4" style="max-width: 33rem;">
                    <div class="swiper swiper-coverflow swiper-3d swiper-initialized swiper-horizontal swiper-watch-progress"
                        data-swiper-options="{
                  &quot;slidesPerView&quot;: 1,
                  &quot;effect&quot;: &quot;coverflow&quot;,
                  &quot;centeredSlides&quot;: true,
                  &quot;loop&quot;: true,
                  &quot;speed&quot;: 650,
                  &quot;coverflowEffect&quot;: {
                    &quot;rotate&quot;: 0,
                    &quot;stretch&quot;: 0,
                    &quot;depth&quot;: 560,
                    &quot;modifier&quot;: 1,
                    &quot;slideShadows&quot;: true
                  },
                  &quot;autoplay&quot;: {
                    &quot;delay&quot;: 6000,
                    &quot;disableOnInteraction&quot;: false
                  },
                  &quot;pagination&quot;: {
                    &quot;el&quot;: &quot;.swiper-pagination&quot;,
                    &quot;type&quot;: &quot;fraction&quot;
                  },
                  &quot;navigation&quot;: {
                    &quot;prevEl&quot;: &quot;.btn-prev&quot;,
                    &quot;nextEl&quot;: &quot;.btn-next&quot;
                  }
                }">
                        <div class="swiper-wrapper" id="swiper-wrapper-1e8ae8c2e531439a" aria-live="off"
                            style="transform: translate3d(-1056px, 0px, 0px); transition-duration: 0ms; transition-delay: 0ms;">



                            <div class="swiper-slide swiper-slide-next" role="group" aria-label="1 / 3"
                                data-swiper-slide-index="0"
                                style="width: 528px; transform: translate3d(0px, 0px, -1120px) rotateX(0deg) rotateY(0deg) scale(1); z-index: -1; transition-duration: 0ms;">
                                <img src="assets/img/landing/product/hero/slider/01.jpg" width="434" alt="Slider image"
                                    class="d-block mx-auto rounded-3">
                                <div class="swiper-slide-shadow-left swiper-slide-shadow-coverflow"
                                    style="opacity: 2; transition-duration: 0ms;"></div>
                                <div class="swiper-slide-shadow-right swiper-slide-shadow-coverflow"
                                    style="opacity: 0; transition-duration: 0ms;"></div>
                            </div>
                            <div class="swiper-slide swiper-slide-prev" role="group" aria-label="2 / 3"
                                data-swiper-slide-index="1"
                                style="width: 528px; transform: translate3d(0px, 0px, -560px) rotateX(0deg) rotateY(0deg) scale(1); z-index: 0; transition-duration: 0ms;">
                                <img src="assets/img/landing/product/hero/slider/02.jpg" width="434" alt="Slider image"
                                    class="d-block mx-auto rounded-3">
                                <div class="swiper-slide-shadow-left swiper-slide-shadow-coverflow"
                                    style="opacity: 1; transition-duration: 0ms;"></div>
                                <div class="swiper-slide-shadow-right swiper-slide-shadow-coverflow"
                                    style="opacity: 0; transition-duration: 0ms;"></div>
                            </div>
                            <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active"
                                role="group" aria-label="3 / 3" data-swiper-slide-index="2"
                                style="width: 528px; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1); z-index: 1; transition-duration: 0ms;">
                                <img src="assets/img/landing/product/hero/slider/03.jpg" width="434" alt="Slider image"
                                    class="d-block mx-auto rounded-3">
                                <div class="swiper-slide-shadow-left swiper-slide-shadow-coverflow"
                                    style="opacity: 0; transition-duration: 0ms;"></div>
                                <div class="swiper-slide-shadow-right swiper-slide-shadow-coverflow"
                                    style="opacity: 0; transition-duration: 0ms;"></div>
                            </div>
                        </div>

                        <!-- Prev/Next buttons + count -->
                        <div class="d-flex justify-content-center align-items-center pb-3 pt-4 mt-3">
                            <button type="button" class="btn btn-prev btn-icon position-relative top-0 mt-0 ms-0 me-2"
                                style="transform: none;" aria-label="Previous slide" tabindex="0"
                                aria-controls="swiper-wrapper-1e8ae8c2e531439a">
                                <i class="bx bx-chevron-left"></i>
                            </button>
                            <div class="swiper-pagination text-light opacity-70 fs-sm fw-medium position-relative top-0 w-auto swiper-pagination-fraction swiper-pagination-horizontal"
                                style="min-width: 70px;"><span class="swiper-pagination-current">3</span> / <span
                                    class="swiper-pagination-total">3</span></div>
                            <button type="button" class="btn btn-next btn-icon position-relative top-0 mt-0 ms-2 me-0"
                                style="transform: none;" aria-label="Next slide" tabindex="0"
                                aria-controls="swiper-wrapper-1e8ae8c2e531439a">
                                <i class="bx bx-chevron-right"></i>
                            </button>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>

            <!-- Featured image -->
            <div class="d-none d-lg-block pt-5 mt-lg-4 mt-xl-5 ms-lg-n5 mx-xl-0">
                <img src="assets/img/landing/product/hero/image.png" class="d-block pt-xxl-4 mt-5" width="1058"
                    alt="Hero image">
            </div>
        </div>
    </div>
</section>
<!-- Text + Video -->
<section class="mb-5 pt-md-2 pt-lg-4 pt-xl-5">
    <div class="container mt-4 pt-2">
        <div class="row row-cols-md-2 row-cols-1 gy-4 mb-5">
            <div class="col">
                <h2 class="h1 mb-0">Shoot like a pro with our new easy to use <span class="text-primary">ProDrone
                        2.0</span></h2>
            </div>
            <div class="col">
                <p class="mb-0 fs-lg">Featuring a 1-inch CMOS sensor that can shoot 4K/60fps videos and 20MP photos,
                    ProDrone 2.0 grants filmmakers absolute creative freedom. It carefully optimizes user experience and
                    intelligent features. </p>
            </div>
        </div>
        <div class="position-relative rounded-3 overflow-hidden">
            <div
                class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center zindex-5">
                <a href="https://www.youtube.com/watch?v=aOwTUgqUfH8"
                    class="btn btn-video btn-icon btn-xl stretched-link bg-white" data-bs-toggle="video"
                    aria-label="Play video" data-lg-id="615f8873-bcea-4646-8895-1899b94257ff">
                    <i class="bx bx-play"></i>
                </a>
            </div>
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></span>
            <img src="assets/img/landing/product/video-cover.jpg" alt="Cover image">
        </div>
    </div>
</section>
<!-- Benefits -->
<section class="container mb-5 pt-md-2 pt-lg-4 pt-xl-5">
    <h2 class="h1 my-4 pt-2 text-center">The benefits of world-changing drone</h2>
    <div class="row pb-4">
        <div class="col-md-3 col-6 order-md-1 order-2">
            <div class="d-flex flex-column justify-content-between h-100 text-center">

                <!-- Item -->
                <div class="mt-md-5 mt-4">
                    <img src="assets/img/landing/product/benefits/battery.svg" alt="Icon" class="d-inline-block mb-4">
                    <h3 class="h4 mb-0 lh-1">
                        <span class="d-block mb-2 fs-base fw-normal">Flight time</span>
                        60 min
                    </h3>
                </div>

                <!-- Item -->
                <div class="mt-md-5 mt-4">
                    <img src="assets/img/landing/product/benefits/drone.svg" alt="Icon" class="d-inline-block mb-4">
                    <h3 class="h4 mb-0 lh-1">
                        <span class="d-block mb-2 fs-base fw-normal">Obstacle sensing</span>
                        5-Direction
                    </h3>
                </div>

                <!-- Item -->
                <div class="mt-md-5 mt-4">
                    <img src="assets/img/landing/product/benefits/monitor.svg" alt="Icon" class="d-inline-block mb-4">
                    <h3 class="h4 mb-0 lh-1">
                        <span class="d-block mb-2 fs-base fw-normal">Ultra-clear video</span>
                        4K
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 order-md-2 order-1">
            <div class="d-flex flex-column justify-content-between h-100">

                <!-- Image -->
                <div class="mx-md-n5 mb-md-n5">
                    <img src="assets/img/landing/product/benefits/image.png" alt="Image">
                </div>

                <!-- Items row -->
                <div class="row row-cols-2 mt-md-5 mt-4 text-center">

                    <!-- Item -->
                    <div class="col">
                        <img src="assets/img/landing/product/benefits/thermometer.svg" alt="Icon"
                            class="d-inline-block mb-4">
                        <h3 class="h4 mb-0 lh-1">
                            <span class="d-block mb-2 fs-base fw-normal">Working temperature</span>
                            -10°C to 40°C
                        </h3>
                    </div>

                    <!-- Item -->
                    <div class="col">
                        <img src="assets/img/landing/product/benefits/led-light.svg" alt="Icon"
                            class="d-inline-block mb-4">
                        <h3 class="h4 mb-0 lh-1">
                            <span class="d-block mb-2 fs-base fw-normal">For night time</span>
                            LED searchlight
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6 order-md-3 order-3">
            <div class="d-flex flex-column justify-content-between h-100 text-center">

                <!-- Item -->
                <div class="mt-md-5 mt-4">
                    <img src="assets/img/landing/product/benefits/zoom-in.svg" alt="Icon" class="d-inline-block mb-4">
                    <h3 class="h4 mb-0 lh-1">
                        <span class="d-block mb-2 fs-base fw-normal">Optical camera</span>
                        2x zoom
                    </h3>
                </div>

                <!-- Item -->
                <div class="mt-md-5 mt-4">
                    <img src="assets/img/landing/product/benefits/computer-microprocessor.svg" alt="Icon"
                        class="d-inline-block mb-4">
                    <h3 class="h4 mb-0 lh-1">
                        <span class="d-block mb-2 fs-base fw-normal">Sensor</span>
                        1 inch
                    </h3>
                </div>

                <!-- Item -->
                <div class="mt-md-5 mt-4">
                    <img src="assets/img/landing/product/benefits/audio.svg" alt="Icon" class="d-inline-block mb-4">
                    <h3 class="h4 mb-0 lh-1">
                        <span class="d-block mb-2 fs-base fw-normal">Noise reduction</span>
                        4dB
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Gallery (carousels) -->
<section class="mb-5 pt-md-3 pt-lg-4 pt-xl-5">
    <h2 class="h1 pt-lg-2 pt-xl-3 mb-5 text-center">User shots gallery</h2>
    <div class="pb-2 pb-sm-3 pb-md-4">

        <!-- LTR -->
        <div class="swiper swiper-initialized swiper-horizontal swiper-free-mode swiper-backface-hidden"
            data-swiper-options="{
            &quot;loop&quot;: true,
            &quot;grabCursor&quot;: false,
            &quot;centeredSlides&quot;: true,
            &quot;autoplay&quot;: {
              &quot;delay&quot;: 0,
              &quot;disableOnInteraction&quot;: false
            },
            &quot;freeMode&quot;: true,
            &quot;speed&quot;: 38000,
            &quot;freeModeMomentum&quot;: false,
            &quot;breakpoints&quot;: {
              &quot;0&quot;: {
                &quot;slidesPerView&quot;: 1,
                &quot;spaceBetween&quot;: 8
              },
              &quot;500&quot;: {
                &quot;spaceBetween&quot;: 16
              },
              &quot;768&quot;: {
                &quot;slidesPerView&quot;: 2,
                &quot;spaceBetween&quot;: 24
              }
            }
          }">
            <div class="swiper-wrapper" id="swiper-wrapper-4bb6d6d5d98cd074" aria-live="off"
                style="transition-duration: 38000ms; transform: translate3d(-960px, 0px, 0px);">

                <!-- Item -->


                <!-- Item -->


                <!-- Item -->

                <div class="swiper-slide swiper-slide-next" role="group" aria-label="1 / 3" data-swiper-slide-index="0"
                    style="width: 616px; margin-right: 24px;">
                    <img src="assets/img/landing/product/gallery/01.jpg" alt="Gallery image" class="rounded-3">
                </div>
                <div class="swiper-slide swiper-slide-prev" role="group" aria-label="2 / 3" data-swiper-slide-index="1"
                    style="width: 616px; margin-right: 24px;">
                    <img src="assets/img/landing/product/gallery/02.jpg" alt="Gallery image" class="rounded-3">
                </div>
                <div class="swiper-slide swiper-slide-active" role="group" aria-label="3 / 3"
                    data-swiper-slide-index="2" style="width: 616px; margin-right: 24px;">
                    <img src="assets/img/landing/product/gallery/03.jpg" alt="Gallery image" class="rounded-3">
                </div>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>

        <!-- RTL -->
        <div class="swiper mt-md-4 mt-sm-3 mt-2 swiper-initialized swiper-horizontal swiper-free-mode swiper-rtl swiper-backface-hidden"
            dir="rtl" data-swiper-options="{
            &quot;loop&quot;: true,
            &quot;grabCursor&quot;: false,
            &quot;centeredSlides&quot;: true,
            &quot;autoplay&quot;: {
              &quot;delay&quot;: 0,
              &quot;disableOnInteraction&quot;: false
            },
            &quot;freeMode&quot;: true,
            &quot;speed&quot;: 38000,
            &quot;freeModeMomentum&quot;: false,
            &quot;breakpoints&quot;: {
              &quot;0&quot;: {
                &quot;slidesPerView&quot;: 1,
                &quot;spaceBetween&quot;: 8
              },
              &quot;500&quot;: {
                &quot;spaceBetween&quot;: 16
              },
              &quot;768&quot;: {
                &quot;slidesPerView&quot;: 2,
                &quot;spaceBetween&quot;: 24
              }
            }
          }">
            <div class="swiper-wrapper" id="swiper-wrapper-2550373f934f21f10" aria-live="off"
                style="transition-duration: 38000ms; transform: translate3d(960px, 0px, 0px);">

                <!-- Item -->


                <!-- Item -->


                <!-- Item -->

                <div class="swiper-slide swiper-slide-next" role="group" aria-label="1 / 3" data-swiper-slide-index="0"
                    style="width: 616px; margin-left: 24px;">
                    <img src="assets/img/landing/product/gallery/04.jpg" alt="Gallery image" class="rounded-3">
                </div>
                <div class="swiper-slide swiper-slide-prev" role="group" aria-label="2 / 3" data-swiper-slide-index="1"
                    style="width: 616px; margin-left: 24px;">
                    <img src="assets/img/landing/product/gallery/05.jpg" alt="Gallery image" class="rounded-3">
                </div>
                <div class="swiper-slide swiper-slide-active" role="group" aria-label="3 / 3"
                    data-swiper-slide-index="2" style="width: 616px; margin-left: 24px;">
                    <img src="assets/img/landing/product/gallery/06.jpg" alt="Gallery image" class="rounded-3">
                </div>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
    </div>
</section>
<!-- Specs -->
<section class="container pb-5 pt-md-2 pt-lg-4 pt-xl-5">
    <h2 class="h1 mb-5">Specs</h2>
    <div class="row pb-md-2 pb-lg-4 pb-xl-5 mb-xxl-2">
        <div class="col-lg-8 col-md-9">
            <div class="table-responsive border-top mb-0">
                <table class="table align-middle">
                    <tbody>
                        <tr>
                            <th scope="row" class="ps-0 h5">
                                Weight (Battery &amp; Propellers Included)
                            </th>
                            <td class="pe-0">
                                <span class="d-inline-block my-4 py-1">
                                    1400 g
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="ps-0 h5">
                                Max Flight Time
                            </th>
                            <td class="pe-0">
                                <span class="d-inline-block my-4 py-1">
                                    Approx. 60 minutes
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="ps-0 h5">
                                Vision System
                            </th>
                            <td class="pe-0">
                                <div class="d-inline-block my-4 py-1">
                                    <ul class="list-unstyled mb-0">
                                        <li>Forward Vision System</li>
                                        <li>Backward Vision System</li>
                                        <li>Downward Vision System</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="ps-0 h5">
                                Obstacle Sensing
                            </th>
                            <td class="pe-0">
                                <div class="d-inline-block my-4 py-1">
                                    <ul class="list-unstyled mb-0">
                                        <li>Front &amp; Rear Obstacle Avoidance</li>
                                        <li>Left &amp; Right Infrared Obstacle Avoidance</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="ps-0 h5">
                                Camera Sensor
                            </th>
                            <td class="pe-0">
                                <div class="d-inline-block my-4 py-1">
                                    <ul class="list-unstyled mb-0">
                                        <li>1" CMOS</li>
                                        <li>Effective pixels: 20 M</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="ps-0 h5">
                                Max. Video Recording Resolution
                            </th>
                            <td class="pe-0">
                                <span class="d-inline-block my-4 py-1">
                                    4K 60P
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="ps-0 h5">
                                Max Transmission Distance
                            </th>
                            <td class="pe-0">
                                <span class="d-inline-block my-4 py-1">
                                    FCC: 4.3 mi
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="ps-0 h5">
                                Video Transmission System
                            </th>
                            <td class="pe-0">
                                <span class="d-inline-block my-4 py-1">
                                    Lightbridge
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="ps-0 h5">
                                Operating Frequency
                            </th>
                            <td class="pe-0">
                                <span class="d-inline-block my-4 py-1">
                                    2.4 GHz/5.8 GHz
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3 offset-lg-1">
            <div class="row row-cols-2 row-cols-md-1">
                <div class="col">
                    <img src="assets/img/landing/product/specs/01.png" alt="Image">
                </div>
                <div class="col">
                    <img src="assets/img/landing/product/specs/02.png" alt="Image">
                </div>
                <div class="col">
                    <img src="assets/img/landing/product/specs/03.png" alt="Image">
                </div>
                <div class="col">
                    <img src="assets/img/landing/product/specs/04.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Colors -->
<section class="mb-5 py-5 bg-secondary">
    <div class="container my-xl-5 my-lg-4 pb-2 py-sm-3 py-md-4">
        <div class="row my-2">
            <div class="col-xl-4 col-lg-5">
                <div class="mb-lg-0 mb-5 mx-lg-0 mx-auto text-lg-start text-center" style="max-width: 26rem;">
                    <h2 class="h1 mb-4 pb-3">
                        Two colors.<br>
                        Choose your best.
                    </h2>
                    <p class="mb-4">“ProDrone 2.0 changes the rules of the game in aerial photography. Now you can
                        capture more details from a safe distance, as well as implement different visual effects with
                        different focal lengths.”</p>
                    <h5 class="mb-1">Wade Warren</h5>
                    <span>ProDrone Inc. Co-Owner</span>
                </div>
            </div>
            <div class="col-lg-7 offset-xl-1">
                <div class="row row-cols-sm-2 row-cols-1 gy-4">

                    <!-- Item -->
                    <div class="col">
                        <div class="card card-hover border-0 shadow position-relative">
                            <img src="assets/img/landing/product/colors/01.png" alt="Skin image" class="card-img-top">
                            <div class="card-body mt-n5 mx-3 mb-3 pt-0 text-center">
                                <span>White ProDrone 2.0</span>
                                <h3 class="mt-2 mb-4">$1200</h3>
                                <a href="#" class="btn btn-primary stretched-link">Buy now</a>
                            </div>
                        </div>
                    </div>

                    <!-- Item -->
                    <div class="col">
                        <div class="card card-hover border-0 shadow position-relative">
                            <img src="assets/img/landing/product/colors/02.png" alt="Skin image" class="card-img-top">
                            <div class="card-body mt-n5 mx-3 mb-3 pt-0 text-center">
                                <span>White ProDrone 2.0</span>
                                <h3 class="mt-2 mb-4">$1100</h3>
                                <a href="#" class="btn btn-primary stretched-link">Buy now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CTA -->
<section class="overflow-hidden pt-lg-5 pt-3 pt-sm-4">
    <div class="container position-relative">
        <div class="w-100 position-absolute top-0 start-50 translate-middle-x text-center px-3"
            style="max-width: 40rem;">
            <h3 class="display-5 mb-4 pb-2">
                Don't miss anything with <span class="text-primary">ProDrone 2.0</span>
            </h3>
            <a href="#" class="btn btn-lg btn-primary">Buy now</a>
        </div>
    </div>
    <div class="pt-5 pt-sm-4 pt-md-0 mt-lg-n5 me-n4 me-sm-n5">
        <img src="assets/img/landing/product/cta.png" width="1296" alt="Image" class="d-block mx-auto">
    </div>
</section>