<section class="container mb-5 pt-md-3 pt-lg-4 pt-xl-5">
    <h1 class="h1 pt-lg-2 pt-xl-3 mb-5 text-center">Declaración de fe de Casa FARO</h1>

    <p class="ps-0 h5">Nuestros valores como Iglesia no se sostienen solos, son parte de nuestra profunda alineación con
        la Biblia.</p>
    <p class="ps-0 h5">Cada uno de nuestros valores nos llevan al cumplimiento de un propósito, que el hombre tenga
        redención y todo lo creado sea restaurado.</p>

    <h2>Declaración</h2>
    <p class="ps-0 h5">Creemos que hay un solo Dios verdadero, que es rey eterno, creador y redentor de todo, que se
        revela en tres personas a la humanidad, Dios Padre, Dios Hijo y Dios Espíritu Santo, los tres se expresan de
        diferente forma pero siguen siendo uno, Dios.</p>

    <p class="ps-0 h5">Que la Biblia es su palabra, está inspirada por Él mismo, en la cual nos revela sus atributos, su
        carácter, su amor,
        justicia, guía, su obra redentora y de transformación para el ser humano y el mundo que lo rodea.</p>

    <p class="ps-0 h5">Que la biblia es el filtro que Dios le dio al creyente para interpretar el mundo en el que
        vivimos sin importar que</p>

    <p class="ps-0 h5">Que en ella existe todo lo que el hombre necesita para ser pleno, conocerle, darlo a conocer a
        otros y modificar la
        realidad de su entorno.</p>

    <p class="ps-0 h5">Que la biblia es el filtro que Dios le dio al creyente para interpretar el mundo en el que
        vivimos sin importar que
        año sea.</p>

    <p class="ps-0 h5">Que la humanidad fue creada a imagen de Dios para conocerle y representarle a pesar de que
        rechazamos de manera
        voluntaria su plan perfecto.</p>

    <p class="ps-0 h5">Que por esta razón, la enfermedad, la muerte, y el juicio entraron al mundo y ahora la creación y
        esferas sociales
        experimentan los efectos y consecuencias del pecado.</p>

    <p class="ps-0 h5">Que Jesús, el Hijo de Dios, fue concebido por el Espíritu Santo, nacido de María, que creció y
        manifestó el
        evangelio del Reino, hizo milagros, sano a los enfermos, resucitó a los muertos y escogió a sus discípulos para
        que
        fueran los precursores de la Iglesia, que fue crucificado por nuestros pecados, muerto y sepultado, resucitado
        al
        tercer día, ascendido al cielo y ahora está vivo sentado a la derecha de Dios Padre y en el corazón de quienes
        han
        creído por fe en su sacrificio.</p>

    <p class="ps-0 h5">Que somos salvos por la gracia de Dios, a través de la fe en la persona y la obra de Jesucristo.
    </p>

    <p class="ps-0 h5">Que el arrepentimiento de nuestros pecados y el bautismo en agua son señales de que hemos creído
        y recibido a Jesús
        como Señor y Salvador.</p>

    <p class="ps-0 h5">Que el Espíritu Santo trae convicción, regenera, justifica, santifica y nos adopta al entrar en
        el Reino de Dios
        como sus hijos y manifestar su voluntad en la tierra.</p>

    <p class="ps-0 h5">Que el creyente tiene como meta no solo ser salvo, sino también manifestar el Reino de Dios, la
        cultura del cielo en
        la tierra a través de sus dones, talento y vocación, habilitado para toda obra sobrenatural, de amor y justicia
        con
        el poder del Espíritu Santo.</p>

    <p class="ps-0 h5">Que la obra victoriosa y redentora de Cristo en la cruz provee libertad: del pecado, del enemigo,
        las falsas
        doctrinas, la enfermedad y de una vida sin propósito.</p>

    <p class="ps-0 h5">Que la Iglesia consta de todos aquellos que ponen su fe en Jesucristo.</p>

    <p class="ps-0 h5">Que todo creyente es un ministro en su área de influencia.</p>

    <p class="ps-0 h5">Que la Iglesia existe para seguir con el ministerio de Jesucristo y hacer avanzar Su Reino en la
        tierra, deshaciendo
        las obras del enemigo, predicando y viviendo conforme a los estándares de la palabra de Dios, discipulando las
        naciones, bautizándolas y enseñándolas a amar y a obedecer a Dios.</p>

    <p class="ps-0 h5">Que el gobierno de Dios siempre está en expansión a través de nosotros.</p>

    <p class="ps-0 h5">Que la Biblia y Dios no cambian, pero las formas y estructuras si cambian.</p>

    <p class="ps-0 h5">Que la iglesia no es un lugar, pero que es importante congregarnos.</p>

    <p class="ps-0 h5">Que tenemos una misión más grande que ganar almas y es transformar el mundo según el diseño
        original de Dios.</p>

    <p class="ps-0 h5">Que Jesús vuelve para reinar con Su esposa, nosotros, la Iglesia.</p>

    <p class="ps-0 h5">Que Él es en nosotros, por nosotros y en otros a través de nosotros.</p>

    <h2>Amen.</h2>
</section>