<section style="margin-top: 5em;">
    <hr>

    <div class="container">
        <!-- Breadcrumb -->
        <nav class="pt-4 mt-lg-3" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a routerLink="/learn-flow/main"><i class="bi bi-house"></i>Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/learn-flow/main">Cursos</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/learn-flow/cursos/3">{{clase?.curso_titulo}}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{clase?.titulo}}</li>
            </ol>
        </nav>

        <h2>{{clase?.titulo}}</h2>
        <p>{{clase?.descripcion}}</p>

        <div class="row">
            <div class="col-lg-12">
                <div class="recursos-clase">

                    <div *ngFor="let recurso of clase?.recursos" class="recurso-item">
                        <h3>{{recurso.titulo}}</h3>

                        <ng-container [ngSwitch]="recurso.tipo">
                            <ng-container *ngSwitchCase="'video'">
                                <app-video-player [videoURL]="recurso.url_archivo!"></app-video-player>
                            </ng-container>
                            <!--ng-container *ngSwitchCase="'pdf'">
                                <h3>Material PDF</h3>
                                <iframe [src]="recurso.url_archivo" width="100%" height="500px"></iframe>
                            </ng-container>
                            <ng-container *ngSwitchCase="'audio'">
                                <audio controls>
                                    <source [src]="recurso.url_archivo" type="audio/mpeg">
                                    Tu navegador no soporta audio.
                                </audio>
                            </ng-container-->
                            <ng-container *ngSwitchDefault>
                                Recurso no soportado: {{recurso.tipo}}
                            </ng-container>
                        </ng-container>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>