:root,
[data-bs-theme="ligth"] {
    --si-font-sans-serif: "Manrope", sans-serif;
    --si-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --si-border-width: 1px;
    --si-border-color: #e2e5f1;
    --si-border-width: 1px;
}

.icon-inline {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 6px;
}